@model RoleViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Create New Roles</h1>
<br />
<br />

<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <lable class="col-form-label" asp-for="RoleName">RoleName</lable>
        <input class="form-control" asp-for="RoleName" type="text" />
        <span asp-validation-for="RoleName" class="text-danger"></span>
    </div>
  
    <input type="submit" value="submit" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back To list</a>


</form>

