@model RoleViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Are Ypu Sure Delete This Role ?</h1>
<br />
<br />
<form asp-action="Delete">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <lable class="col-form-label" asp-for="Id">Id</lable>
        <input class="form-control" asp-for="Id" type="text" />
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <lable class="col-form-label" asp-for="RoleName">RoleName</lable>
        <input class="form-control" asp-for="RoleName" type="text" />
        <span asp-validation-for="RoleName" class="text-danger"></span>
    </div>
   

    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-light">Cancel</a>



</form>

