@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@* <link href="~/css/homestyle.css" rel="stylesheet" />

 <div class="home" id="home">
    <div class="homeLayer">
        <div class="container">
            <div>
                <img class="w-100" src="~/css/intro-bg.jpg"/>
            </div>
        
                <h1>I am Mohamed Ali</h1>
                <p class="Graphic-Designer">I'm </p>
        
        </div>

    </div>
</div> *@ 