@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLatOut.cshtml";
}

<h1>ResetPassword</h1>



<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ResetPassword" method="post">

			<div asp-validation-summary="All"></div>

			@* 	// حل اخر احسن بتاع tempdata
			<input class="text" asp-for="token" placeholder="New password" hidden required="">
			<input class="text" asp-for="email" placeholder="New password" hidden required=""> *@
			<input class="text" asp-for="NewPassword" placeholder="New password" required="">
			<input class="text" asp-for="ConfirmPassword" placeholder="ConfirmPassword" required="">


			
			<input type="submit" value="Reset Password">
		</form>
	</div>
</div>

@section ValidationScriptSection{
	<partial name="_ValidationScriptsPartial" />
}


